$BackgroundColor: #1D1D1D;
$BlackOverlay: #1d1d1db5;
$NavMenuListColor: #BFBFBF;
$White: #ffffff;
$Black__3: rgba(39, 39, 39, 1);
$Blue: #5162FE;
$Green: #70D18C;
$Yellow: #DE9D77;
$Red: #FA777C;
$LightGreen: #99DFDA;
$DarkGrey: #BFBFBF;
$LightPurple: #B8B9EE;
$GreyBlack: #333333;
$Transparent: transparent;

$ButtonStrokeColor: rgba(255, 255, 255, 0.3);
