

$FontsFamily__Manrope: 'Manrope', sans-serif;
$FontsSize__14px: 14px;
$FontsSize__16px: 16px;
$FontsSize__18px: 18px;
$FontsSize__20px: 20px;
$FontsSize__36px: 36px;
$FontsSize__52px: 52px;
$FontsSize__72px: 72px;
$FontsSize__92pxpx: 92px;


$FontWeight__Medium: 500;
$FontWeight__SemiBold: 600;
$FontWeight__Bold: 700;
$FontWeight__ExtraBold: 800;