@use "Colors";
@use "Fonts";

.SpeakersSection{
    margin-top: 150px;
    .Container{
        max-width: 1157px;
        margin: auto;
        .MeetTheSpeakersTitleWrapper{
            color: Colors.$White;
            max-width: 680px;
            margin: auto;
            .MeetTheSpeakersTitle, .MeetTheSpeakersDescription{
                text-align: center;
            }
            .MeetTheSpeakersTitle{
                line-height: 76px;
                font-weight: Fonts.$FontWeight__Bold;
                font-size: Fonts.$FontsSize__72px;
            }
            .MeetTheSpeakersDescription{
                line-height: 26px;
                color: Colors.$NavMenuListColor;
                margin-top: 20px;
            }
        }
        .SpeakersSlideShowWrapper{
            margin-top: 56px;
            .SlideArrowWrapper{
                z-index: 600;
                display: flex;
                width: 100%;
                justify-content: space-between;
                position: relative;
                .LeftSlideArrow, .RightSlideArrow{
                    position: absolute;
                    margin-top: 250px;
                    width: 44px;
                    height: 44px;
                    border: 1px Colors.$White solid;
                    border-radius: 100%;
                    backdrop-filter: blur(20px);
                    cursor: pointer;
                    .LeftSlideArrowImage, .RightSlideArrowImage{
                        transform: translate(60%, 60%);
                    }
                }
                .LeftSlideArrow{
                    left: -25px;
                }
                .RightSlideArrow{
                    right: -25px;

                }
            }
            .SpeakersCardsWrapper{
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                .SpeakerOne, .SpeakerTwo, .SpeakerThree{
                    width: 370px;
                    color: Colors.$White;
                    border-radius: 18px;
                    position: relative;
                    .Overlay{
                        position: absolute;
                        background: linear-gradient(rgba(29, 29, 29, 0), rgba(29, 29, 29, 1));;
                        width: 370px;
                        height: 193px;
                        margin-top: -190px;
                        z-index: 0;
                    }
                    .SpeakerDescription{
                        position: relative;
                        margin-top: -100px;
                        z-index: 10;
                        .SpeakerName, .SpeakerPosition{
                            text-align: center;
                        }
                        .SpeakerPosition{
                            max-width: 299px;
                            margin: auto;
                            line-height: 26px;
                            margin-top: 12px;
                        }
                    }
                }
                .SpeakerOne{
                    background-color: Colors.$LightPurple;
                }
                .SpeakerTwo{
                    background-color: Colors.$Yellow;
                }
                .SpeakerThree{
                    background-color: Colors.$Green;
                }
            }
        }
    }
}

@media only screen and (max-width: 1222px){
    .SpeakersSection{
        .Container{
            .SpeakersSlideShowWrapper{
                .SlideArrowWrapper{
                    z-index: 500;
                    .LeftSlideArrow{
                        left: 5px;
                    }
                    .RightSlideArrow{
                        right: 5px;
    
                    }
                }
                .SpeakersCardsWrapper{
                    overflow-x: auto;
                    overflow-y: hidden;
                    gap: 30px;
                    box-sizing: content-box;
                    &::-webkit-scrollbar { width: 0 !important }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px){
    .SpeakersSection{
        .Container{
            .MeetTheSpeakersTitleWrapper{
                max-width: 90%;
                width: 90%;
                .MeetTheSpeakersTitle{
                    font-size: Fonts.$FontsSize__52px;
                }
                .MeetTheSpeakersDescription{
                    width: 100%;
                    margin: auto;
                }
            }
        }
    }
}